



<form action="Save" method="post">

    Enter Catagory Name <br/>
    @*<input type="text"  name="name"/><br/>*@
    @Html.TextArea("name")<br />
    Enter Discription <br/>
    <textarea name="description"  rows="10" cols="60"></textarea><br/>
    <input type="submit" name="btnSubmit" /> 

</form>
  <a asp-action="Display">Back to List</a>
